<h1><%= title t('new-route') %></h1>

<dl>
<%= form_for @route do |f| %>
  <dt><%= f.label :from_address %></dt>
  <dd><%= f.text_field :from_address %></dd>

  <dt><%= f.label :to_address %></dt>
  <dd><%= f.text_field :to_address %></dd>

  <dt><%= f.label :arrive_at %></dt>
  <dd><%= f.text_field :arrive_at %></dd>

  <dt><%= f.label :email %></dt>
  <dd><%= f.email_field :email %></dd>

  <dt><%= f.label :password %></dt>
  <dd><%= f.password_field :password %></dd>

  <dd><%= f.submit 'Create' %></dd>
<% end %>
</dl>
